<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form Page</title>
</head>

<body>

    <h1>Update Form PAge</h1>
    <form method="post" action="" align="center">
        <input type="text" name="name" required placeholder="Enter Your name." value="">
        <input type="Email" name="email" required placeholder="Enter Your Email." value="">
        <input type="password" name="password" required placeholder="Enter Your Password." value="">
        <input type="number" name="phone" required placeholder="Enter Your phone." value="">
        <br><br>
        <a href="/"><input type="submit"></input></a>
    </form>
</body>

</html>